/*
Theme Name: C&S
Theme URI: http://cyberchimps.com/guide/child-theme-example/
Description: Child Theme of CnS (Based on Responsive) to add Advanced Custom Fields
Template: responsive
Version: 1.0.0
Author: RedRouteNorth
Author URI: http://redrouteagency.com/
License: GNU General Public License
License URI: license.txt
*/


#container {
    margin: 0 0;
    width: 100%;
	max-width:100%;
    padding: 0px 0px;
}



#headerIn {
    margin: 0 auto;
    max-width: 1180px;
    padding: 0px 20px;
    clear: both!important;
    text-align: center;
}

#wrapper
{
	padding-left:0;
	padding-right:0;
	margin-top:0;
	border:0;
}

#content-full
{
	margin-top:0;
}

.fullWidth
{
	width:100%;
	clear:both;
}

.maxWidth
{
	max-width:1100px;
	margin-left:auto;
	margin-right:auto;
	padding-right:20px;
	padding-left:20px;
}

.maxWidthSmall
{
	max-width:1100px;
	margin-left:auto;
	margin-right:auto;
	padding-right:20px;
	padding-left:20px;
}

.bgBlue
{
	background-color:#0e71b8;
}

.left
{
	float:left;
}
.right
{
	float:right;
}

/*Reset main navigation*/

#theMainNav .main-nav
{
	background: transparent;
	text-align:center;
}

#theMainNav .main-nav .sub-menu
{
	text-align:left;
}

#theMainNav .main-nav .menu
{
	background-color:#0e71b8;
	background-image:none;
}



#theMainNav .main-nav .menu  > a
{
	border-bottom:3px solid #0e71b8;

}

#theMainNav .main-nav .menu  .current_page_item a, #theMainNav .main-nav .menu  a:hover
{
	background-color:#0e71b8;
	background-image:none;
	border-bottom:3px solid #ffffff;
	/*font-weight:bold;*/
}

ul.menu > li:hover {
	background: transparent;
}

ul.menu > li:hover a{

	color: #ffffff;
	border-bottom:3px solid #ffffff;
	background:rgba(32,176,251,0.6)!important;
}

ul.menu .current-menu-parent > a {
   border-bottom:3px solid #ffffff;
}

#theMainNav .main-nav .menu a
{
	font-weight:bold;
	background-color:transparent;
	text-shadow:none;
	border-left:none;
	text-transform:uppercase;
	font-weight:normal;
	font-size:18px;

}

#theMainNav .main-nav .menu .sub-menu a
{
	border-bottom:none;
}


#theMainNav .main-nav .sub-menu li a
{

}

#theMainNav .main-nav .sub-menu li
{
	border:none;
	border-bottom:1px solid #7abbdd;
}

#theMainNav .main-nav .sub-menu li:last-child
{
	border:none;
}

#theMainNav .main-nav .menu .sub-menu a, .menu li li a
{
	color:white;

}

#theMainNav .main-nav .sub-menu
{
	padding-left:10px;
	padding-right:10px;
}

#theMainNav .menu li li a, #theMainNav .menu li li
{
	background:none !important;

}

#theMainNav .menu li li
{
	width:100%;
}

#theMainNav .menu li li a:hover {
	background:none !important;
	background-image: none;
	border: none;
	color: white;
	/*font-weight:bold;*/

}

#theMainNav .main-nav .menu li
{
	display:inline-block;
	float:none;
}

.metaslider .flexslider
{
	margin-bottom:20px!important;
}

.home .metaslider .flexslider
{
	margin-bottom:40px!important;
}

/*Content*/


.squareImage
{
	height:auto!important;
}

body
{
	font-size:20px;
}

.post-entry h1
{
	color:#073fa5;
	font-size:36px;
}

#wrapper
{
	padding-bottom:0;
}

.widgetRow
{
	overflow:hidden;
}

.widgetRow .grid
{
	background-color:	#0e71b8;
}

.widgetRow h2
{
	font-size:28px;
	color:white;
}

.contact300 h2
{
	font-size:26px;
}

.widgetRow .bgWidgetImage ul {
    color: white;
}

.frontW
{
	min-height:216px;

}

.genericBgWidgets .frontW
{
	min-height:256px;
}

.inline_banner_2_columns
{
	margin-top:20px;
}

.widgetWrap
{
	padding:20px;
	position:relative;
	height:100%;

}

.widgetWrap h2
{
	margin-top:0;
}

.widgetWrap a
{
	position:absolute;
	bottom:20px;
	color:white;
	font-size:16px;
	padding-left:50px;
	padding-top:30px;
	background-image:url(core/images/next.png);
	background-repeat:no-repeat;
	background-position:left bottom;
}


.widgetRow .widgetContent
{
	background-color:#41bcfb;
	padding:20px;
	color:white;
	font-size:16px;
}


.widgetRow .widgetContent p:first-child
{
	margin-top:0;
}

.widgetRow .widgetContent p:last-child
{
	margin-bottom:0;
}

.widgetRow .widgetContent a
{
	font-weight:bold;
	text-decoration:underline;
}


/* Submenu*/


.sub-menu{
  background:rgba(32,176,251,0.6);
}


/*Fabrication tpl*/

.fabricationWidgets .widgetWrap, .perforationWidgets .widgetWrap
{
	padding:0;
}

.fabricationWidgets .grid
{
	background-color:white;
}

.fabricationWidgets .grid:nth-child(3n+3)
{
	margin-right:0;
}


/* Perforation TPL */

.perforationWidgets .grid
{
	background-color:white;

}

.perforationWidgets .grid:nth-child(2n+2)
{
	margin-right:0;
}





.aboutWidgetsImage .widgetWrap
{
	padding:0;
}

.aboutWidgetsImage .noBG
{
	background-color:transparent;
}




.grid h3
{
	color:#5f5b5b;
	font-size:18px;
}




/*Contact form*/





.wpcf7 label
{
	font-size:14px;
}

#wpcf7-f128-p41-o1 p
{
	margin-bottom:10px;
	margin-top:10px;
}

#wpcf7-f128-p41-o1 label font
{
	color:#20b0fb;
	padding-left:2px;
	font-size:18px;
}

#wpcf7-f128-p41-o1 label.expandClass
{
	min-width:75%;
}

#wpcf7-f128-p41-o1 select,
#wpcf7-f128-p41-o1 input[type="text"],
#wpcf7-f128-p41-o1 input[type="password"],
#wpcf7-f128-p41-o1 input[type="email"] {
	-moz-box-sizing: border-box;
	-moz-border-radius: 0px;
	-webkit-box-sizing: border-box;
	-webkit-border-radius: 0px;
	-webkit-box-shadow: 0 0px 0 #ffffff, inset 0 1px 1px rgba(0, 0, 0, 0);
	-moz-box-shadow: 0 0px 0 #ffffff, inset 0 1px 1px rgba(0, 0, 0, 0);
	box-shadow: 0 0px 0 #ffffff, inset 0 1px 1px rgba(0, 0, 0, 0);
	background-color: #ffffff;
	box-sizing: border-box;
	border: 0px solid #aaaaaa;
	border-bottom-color: #cccccc;
	border-radius: 0px;
	cursor: text;
	margin: 0;
	outline: none;
	padding: 8px 8px;
	vertical-align: middle;
	max-width: 100%;
	background-color:#efefef;
}

area,
textarea {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-webkit-border-radius: 0px;
	-webkit-box-shadow: 0 0px 0 #ffffff, inset 0 1px 1px rgba(0, 0, 0, 0);
	-moz-box-shadow: 0 0px 0 #ffffff, inset 0 1px 1px rgba(0, 0, 0, 0);
	background-color: #ffffff;
	box-shadow: 0 0px 0 #ffffff, inset 0 1px 1px rgba(0, 0, 0, 0);
	box-sizing: border-box;
	border: 0px solid #aaaaaa;
	border-bottom-color: #cccccc;
	border-radius: 0px;
	height: auto;
	overflow: auto;
	margin: 0;
	outline: none;
	padding: 8px 10px;
	max-width: 100%;
	min-width:100%;
	background-color:#efefef;
}

a.button,
input[type='reset'],
input[type='button'],
input[type='submit'] {
	-moz-border-radius: 0px;
	-moz-box-shadow: 0 0px 0 rgba(255, 255, 255, 0.3) inset;
	-webkit-box-shadow: 0 0px 0 rgba(255, 255, 255, 0.3) inset;
	-webkit-border-radius: 0px;
	background-color: #20b0fb; /* Alabaster */
	background-image:none!important;

	box-shadow: 0 0px 0 rgba(255, 255, 255, 0.3) inset;
	border: 0px solid #dddddd;
	border-radius: 0px;
	color: white;
	cursor: pointer;
	display: inline-block;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#f9f9f9, endColorstr=#f1f1f1)";
	font-size: 14px;
	font-weight: 700;
	line-height: 20px;
	margin: 0;
	padding: 10px 10px;
	text-decoration: none;
	text-shadow: 0 0px 0 #ffffff;
	vertical-align: middle;
	white-space: nowrap;
	font-family:Arial, Helvetica, sans-serif;
}

a.button:hover,
input[type='reset']:hover,
input[type='button']:hover,
input[type='submit']:hover {
	-moz-box-shadow: 0 0px 0 rgba(255, 255, 255, 0.3) inset;
	-webkit-box-shadow: 0 0px 0 rgba(255, 255, 255, 0.3) inset;
	background-color: #20b0fb;
	background-image: none!important;
	background-image: -webkit-linear-gradient(top, #ffffff, #f1f1f1);
	background-image: -moz-linear-gradient(top, #ffffff, #f1f1f1);
	background-image: -ms-linear-gradient(top, #ffffff, #f1f1f1);
	background-image: -o-linear-gradient(top, #ffffff, #f1f1f1);
	background-image: linear-gradient(to top, #ffffff, #f1f1f1);
	border: 0px solid #dddddd;
	box-shadow: 0 0px 0 rgba(255, 255, 255, 0.3) inset;
	color: white;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#f1f1f1)";
}

a.button:active,
input[type='reset']:active,
input[type='button']:active,
input[type='submit']:active {
	-moz-box-shadow: 0 0px 0 #ffffff, inset 0 0px 0px rgba(0, 0, 0, 0);
	-webkit-box-shadow: 0 0px 0 #ffffff, inset 0 0px 0px rgba(0, 0, 0, 0);
	background-color: #f9f9f9;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f1f1f1));
	background-image: -webkit-linear-gradient(top, #f9f9f9, #f1f1f1);
	background-image: -moz-linear-gradient(top, #f9f9f9, #f1f1f1);
	background-image: -ms-linear-gradient(top, #f9f9f9, #f1f1f1);
	background-image: -o-linear-gradient(top, #f9f9f9, #f1f1f1);
	background-image: linear-gradient(to top, #f9f9f9, #f1f1f1);
	box-shadow: 0 0px 0 #ffffff, inset 0 0px 0px rgba(0, 0, 0, 0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#f9f9f9, endColorstr=#f1f1f1)";
}






/*Internal*/

.widgetRow .soloImage .widgetWrap p
{
	margin:0;
}

.widgetRow .soloImage .widgetWrap p  img
{
	margin:0;

}

.widgetRow .soloImage
{
	background-color:white!important;
}

.widgetRow .soloImage .widgetWrap
{
	padding:0;
}

.widgetRow .whiteText .widgetWrap p, .widgetRow .whiteText .widgetWrap ul
{
	color:white;
	font-size:16px;
}

.widgetRow .whiteText .widgetWrap p
{
	margin-bottom:0px;
}

.widgetRow .theCaption
{
	margin-top:10px;
	margin-bottom:10px;
	text-align:center;

}

/*gridGeneric redefinition*/

.gridGeneric
{
    float: left;
	margin-bottom: 2.127659574468%;
	padding-top: 0;
}
.widgetRow .gridGeneric
{
	background-color:	#0e71b8;
}

 .show480
{
	display:none;
}








#footer
{
	max-width:100%;
	padding-left:0;
	padding-right:0;
	background-color:#156AAE;
}

#footer .col-940
{
	padding-top:40px;
}

#footer .copyright, #footer .copyright a, #footer .pptc, #footer .pptc a
{
	color:white;
	font-size:12px;
}

#menu-footer-navigation li a:before {
 	 content: "\00BB";
	 color:#073fa5;
	 font-size:14px!important;
	 font-weight:bold;
	 padding-right:5px;
}




#menu-footer-navigation > li a
{
	display: block;
	border-left:none;
	padding-left:0;
	color:white;
	font-size:14px;
	margin-bottom:7px;

}

#cnsAddress
{
	color:white;
	font-size:14px;
}

#footer #dividerCopy
{
	border-top:1px solid white;
	margin-top:20px;
	padding-top:20px;
	overflow:hidden;
}


#headerIn .col-300
{

	float:left;

}

#headerIn .col-620
{
	width:65.957446808511%;
	float:right;
}


.findMore
{
	display:block;
	color:#6a6969;
	font-weight:bold;
	font-size:16px;
}

.findMore a
{
	color:#073fa5;
	font-size:16px;
	text-decoration:none;
}

.thePhone
{
	color:#073fa5;
	font-size:30px;
	font-weight:bold;
}

.bgGalleryRow .hole-gallery
{
	height:auto!important;

}

.bgGalleryRow .grid
{
	background-color:transparent;
	float:none;
	display:inline-block;
}

.bgGalleryRow .frontW
{
   min-height:inherit!important;
}

.bgGalleryRow .gridGallery
{
	margin-right: 2.127659574468%;
	float:left;
}

.bgGalleryRow a.fancybox
{
	position:relative!important;
	padding:0;
	bottom:0;
}

.bgGalleryRow
{
	   background-size: cover!important;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  padding-bottom:20px;
	  padding-left:20px;
	  padding-right:20px;
	  margin-top:40px;
}

.mini-max-width
{
	max-width:900px;
	margin-left:auto;
	margin-right:auto;
}


.mini-max-width .col-140
{
	width: 20.404255319149%;
}

.mini-max-width .col-140:nth-child(4n+4)
{
	margin-right:0;
}

.normal-max-width .col-140:nth-child(5n+5)
{
	margin-right:0;
}

.bgGalleryRow
{
	padding-top:20px;
}

.bgGalleryRow .widgetWrap
{
	padding:0;
	padding-top:20px;
}

.bgGalleryRow h2
{
	font-size:24px;
	text-align:center;
	color:#073fa5;
	margin-bottom:10px;
	margin-top:20px;
}

.aboutBgWidgets .grid
{
	overflow:hidden!important;
}


/*Slides caption*/
.metaslider .caption-wrap {
    top: 0 !important;
    bottom: auto;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    height: 100%;

}

.metaslider .caption-wrap {
    opacity: 1 !important;
    background-color: transparent !important;
}

#featured-image .slides li .caption {
    text-align: center;
}



.metaslider .caption-wrap
{
	top:0!important;
	/*bottom:auto;	*/
	-webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
	height:100%;
}

.metaslider .caption {
    /*padding: 20% 10%!important;*/
	position: relative;
    top: 50%!important;
  /* -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);*/
    transform: translateY(-50%);

	max-width:1100px;
	margin-left:auto;
	margin-right:auto;
	overflow:hidden;

}


/*.metaslider .caption {
    /*padding: 20% 10% !important;*/
   /* position: relative;
    top: 50% !important;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);

	max-width:1100px;
	margin-left:auto;
	margin-right:auto;
}*/

.metaslider .caption .circulo
{
	float:right;
	-moz-border-radius: 150px;
	-webkit-border-radius: 150px;
	border-radius: 150px; /* future proofing */
	-khtml-border-radius: 150px; /* for old Konqueror browsers */
	width:300px;
	height:300px;
	background-color:white;
}

.metaslider .caption .circulo h2
{
	color:#0e71b8;
	padding:35px;
	padding-top:10px;
	padding-bottom:0;
	margin-bottom:20px;
	font-size:30px;
	text-transform:uppercase;
	text-align:center;
}

.metaslider .caption .circulo p
{
	color:#0e71b8;
	text-align:center;
	padding:30px;
	padding-top:10px;
}

.metaslider .flex-control-nav
{
	display:none!important;
}

.menu ul
{
	margin-top:0;
}

#post-226 .cover-0 .col-460 .bgWidgetImage
{
	height:250px!important;
}

#post-226 .cover-0 .col-460 .bridgeHeight
{
	height:295px!important;
}

#footer .pptc .inPPTC
{
	float:right;
}

#footer .scroll-top a
	{
		color:white!important;
	}

@media screen and (max-width: 980px) {

	#footer .copyright, #footer .copyright, #footer .pptc, #footer .scroll-top
	{
		/*float:none!important;
		text-align:center!important;	*/
		width:100%;

	}

	#footer .pptc .inPPTC
	{
		float:none;
		text-align:center;
	}



	.metaslider .caption .circulo
	{

		-moz-border-radius: 125px;
		-webkit-border-radius: 125px;
		border-radius: 125px; /* future proofing */
		-khtml-border-radius: 125px; /* for old Konqueror browsers */
		width:250px;
		height:250px;

	}


	.metaslider .caption .circulo h2
	{

		font-size:26px;
		margin-bottom:10px;

	}

	.metaslider .caption .circulo p
	{
		color:#0e71b8;
		text-align:center;
		padding:30px;
		padding-top:10px;
		font-size:16px;
	}



	.mini-max-width .col-140
	{
		width:100%;
		float:none;
		margin-right:0;
	}

	.genericBgWidgets .col-460
	{
		width: 48.936170212766%;
		float:left;
		margin-right: 2.127659574468%;
	}

	.contactPage .col-620
	{
		width: 65.957446808511%;
		margin-right: 2.127659574468%;
		float:left;
	}

	.contactPage .col-300
	{
		width:31.914893617021%;
		float:left;
	}


	.col-300
	{
		width: 65.957446808511%;
		margin-right: 2.127659574468%;
	}


	.home .col-300
	{
		width: 100%;
		margin-right: 0%;
		float:none;
	}


	.aboutBgWidgets .col-460, .aboutWidgetsImage .col-460
	{
		width: 48.936170212766%;
		margin-right: 2.127659574468%;
		float:left;
	}


	.home .widgetRow .grid
	{
		height:auto!important;
	}

	.maxWidth
	{

	}

	#footer-wrapper .col-940 .col-540
	{
		width: 57.446808510638%;
		margin-right: 2.127659574468%;
		float:left;
	}

	#footer-wrapper .col-940  .col-380
	{
		width: 40.425531914894%%;

		float:left;
	}


	#footer-wrapper .col-940 .col-460
	{
		width:48.936170212766%!important;
		margin-right: 2.127659574468%;
		float:left;
		margin-top:20px;
	}


	#footer-wrapper .copyright
	{
		text-align:center;
	}



	#headerIn .col-300
	{
		width:31.914893617021%;


	}

	#headerIn .col-620
	{
		width:65.957446808511%;

	}


	.fabricationWidgets .grid, .perforationWidgets .grid
	{
		margin-right: 2.127659574468%;
	}

	.fabricationWidgets .col-300 {
   		 width: 31.914893617021%;
		 float:left;
	}

	.perforationWidgets .col-460 {
   		 width: 48.936170212766%;
		 float:left;
	}

}


@media screen and (max-width: 768px) {


	.metaslider .caption .circulo
	{

		-moz-border-radius: 115px;
		-webkit-border-radius: 115px;
		border-radius: 115px; /* future proofing */
		-khtml-border-radius: 115px; /* for old Konqueror browsers */
		width:230px;
		height:230px;

	}


	.metaslider .caption .circulo h2
	{

		font-size:22px;
		margin-bottom:10px;

	}

	.metaslider .caption .circulo p
	{
		color:#0e71b8;
		text-align:center;
		padding:25px;
		padding-top:10px;
		font-size:15px;
	}





	.contactPage .col-620
	{
		width: 100%;
		margin-right: 0%;
		float:none;
	}

	.contactPage .col-300
	{
		width:100%;
		float:none;
	}




	#wpcf7-f128-p41-o1 label,
	#wpcf7-f128-p41-o1 select,
	#wpcf7-f128-p41-o1 input[type="text"],
	#wpcf7-f128-p41-o1 input[type="password"],
	#wpcf7-f128-p41-o1 input[type="email"] {
		width:100%;
	}

     div.wpcf7-response-output
	 {
			margin-left:0;
			margin-right:0;
	 }

}


@media screen and (max-width: 767px) {




	.metaslider .caption .circulo
	{

		-moz-border-radius: 90px;
		-webkit-border-radius: 90px;
		border-radius: 90px; /* future proofing */
		-khtml-border-radius: 90px; /* for old Konqueror browsers */
		width:180px;
		height:180px;

	}


	.metaslider .caption .circulo h2
	{

		font-size:18px;
		margin-bottom:10px;

		padding: 30px;
		padding-top:20px;
		line-height:140%;

	}

	.metaslider .caption .circulo p
	{
		display:none;
	}







	.squareImage
	{
		/*margin-bottom:20px;	*/
	}


	.widgetRow  .theCaption
	{

		margin-bottom:30px;
	}

	.widgetRow .bgImageW, .widgetRow .bgImageW .bgWidgetImage
	{
		height:auto!important;
	}

	#post-149 .cover-1
	{
		margin-top:40px;
	}

	.genericBgWidgets .col-460
	{
		width: 100%;
		float:none;
		margin-right:0%;
	}

	.genericBgWidgets .soloImage
	{
		text-align:center;
	}

	.fabricationWidgets .grid
	{
		margin-right: 2.127659574468%!important;
	}

	.fabricationWidgets .grid:nth-child(2n+2)
	{
			margin-right:0!important;
	}

	.fabricationWidgets .col-300
	{
		width: 48.936170212766%;
		/*margin-right: 2.127659574468%;*/
	}


	.maxWidth
	{

	}


	#footer-wrapper .col-940 .col-540
	{
		width:100%;
		margin-right:0;
		float:none;
	}

	#footer-wrapper .col-940 .col-380
	{
		width:100%;
		margin-right:0;
		float:none;
	}

	#theMainNav .main-nav .menu a
	{
		font-size:16px;
	}

}

@media screen and (max-width: 650px) {

	.metaslider .caption
	{
		display:none;
	}


	.aboutBgWidgets .col-460
	{
		width: 100%;
		margin-right: 0;
		float:none;
	}


	button#responsive-menu-button
	{
		background:#156aae!important;
		right: 20px!important;
		top: 0!important;
	}

	#theMainNav
	{
		display:none;
	}
	#footer-wrapper .col-940
	{
		overflow:hidden;
	}

	#footer-wrapper .col-940 .col-460
	{
		width:100%;
		margin-right:0;
		float:none;
		text-align:left;

	}

	#footer-wrapper .col-940 .col-460 .right
	{
		float:left!important;
		text-align:left;
	}

	#footer-wrapper .col-940 .col-460 .right li
	{
		text-align:left;
	}

	#headerIn .col-300, #headerIn .col-620
	{
		width:100%;
		float:none;
		text-align:center;

	}

	#headerIn .col-620 .right
	{
		float:none;
	}

	#headerIn #logo img
	{
		max-width:75%;
	}

	.hide650
	{
		display:none;
	}

	.thePhone
	{
		font-size:25px;
	}

	body {
		font-size: 16px;
	}

	.perforationWidgets .grid
	{
		margin-bottom:10px;
	}

}



@media screen and (max-width: 480px) {

   #post-226 .cover-0 .widgetRow .bgImageW .bgWidgetImage:first-child .show480 img
   {
	   display:none!important;
   }

	#post-226 .cover-0 .col-460 .bgWidgetImage, #post-226 .cover-0 .col-460 .bridgeHeight
	{
		height:auto!important;
	}





	.widgetRow .gridGeneric .bgWidgetImage, .gridGeneric .bridgeHeight
	{
		height:auto!important;
	}

	.soloImage .bridgeHeight
	{
		background:none!important;
	}


	.show480
	{
		display:block!important;
	}


	.aboutWidgetsImage .col-460
	{
		width: 100%;
		margin-right: 0;
		float:none;
	}

	.perforationWidgets .grid
	{
		margin-right:0!important;
	}

	.perforationWidgets .col-460
	{
		width: 100%;
		/*margin-right: 2.127659574468%;*/
	}
}



@media screen and (max-width: 375px) {

	.fabricationWidgets .grid
	{
		margin-right:0!important;
	}

	.fabricationWidgets .col-300
	{
		width: 100%;
		/*margin-right: 2.127659574468%;*/
	}

	.fabricationWidgets .grid
	{
		/*margin-bottom:10px;*/
	}

	.fabricationWidgets .grid .bgWidgetImage p
	{
		margin-top:10px!important;
	}
}

@media screen and (max-width: 374px) {


	button#responsive-menu-button
	{

		right: 10px!important;

	}

}

